.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  z-index: 9999;
}
.loading-content {
  text-align: center;
}
.loading-content h2 {
  margin-bottom: 1rem;
  color: #212529;
}
.navbar-text {
  font-size: 0.9rem;
  opacity: 0.9;
}
.navbar-text a {
  text-decoration: none;
}
.navbar-text a:hover {
  text-decoration: underline;
}
